@{
    ViewData["Title"] = "Home Page";
}
<div id="home-container" class="text-center">
    <h1 class="display-4">Basic Books is Open</h1>
    <h2 style="margin-bottom:2vh">Simple Reading, Made Easy.</h2>
    <img src="~/Assets/Images/manybooks.png" style="max-width:60%;"/>
</div>